.dropdown-item {
  cursor: pointer;
}

.pagination-div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .course-per-page {
    display: flex;
    align-items: center;
    .input {
      width: 50px;
      text-align: center;
    }
  }
}

.course-card {
  display: flex;
  align-items: center;
  border: 1px solid silver;
  border-radius: 8px;

  .course-title {
    font-weight: 600;
    color: #4c4c4c;
  }

  .course-author {
    font-weight: 500;
    color: gray;
  }

  .actual-price {
    font-weight: 600;
  }

  .actual-price.discount {
    text-decoration: line-through;
    color: #4c4c4c;
  }

  .discounted-price {
    font-weight: 600;
  }

  .discount-flag {
    color: green;
    font-weight: 600;
  }
}

// Removing scroll from input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
