.cart-container {
  background-color: #ececec;
  border-radius: 8px;
  font-size: 14px;
}

.cart-course-item {
  border: 1px solid silver;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;

  .course-name {
    font-weight: 600;
    color: #4c4c4c;
  }

  .actual-price {
    font-weight: 600;
  }

  .actual-price.discount {
    text-decoration: line-through;
    color: #4c4c4c;
  }

  .discounted-price {
    font-weight: 600;
  }

  .discount-flag {
    color: green;
    font-weight: 600;
  }

  .remove-btn-div {
    margin-left: auto;
  }
}

.cart-header {
  font-weight: 600;
  color: #4c4c4c;
}
