<nav class="navbar fixed-top navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <div class="navbar-brand">
      <div class="img-div" [routerLink]="['/home']">
        <img src="../../assets/images/ftx-header-logo.png" alt="" height="100%" width="100%">
      </div>
    </div>
    <div class="navbar-menu">
      <ul class="navbar-nav">
        <li
          class="nav-item px-2 py-1 ms-3"
          [ngClass]="navItem.isActive === true ? 'active' : ''"
          *ngFor="let navItem of mainNavItems"
          (click)="onNavLinkClick(navItem.id)"
        >
          {{ navItem.name }}
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5 py-4">
  <router-outlet></router-outlet>
</div>
